.page-header{
    background-color:white;
    color:rgb(42, 63, 88);
    font-weight: bold;
    padding:28px;
    display:flex;
    flex-direction: row;
    position:fixed;
    top:0;
    right:0;
    left:0;
    flex-shrink:0;
    z-index:1;
}
.left-section{
    flex: 100px;
    cursor: pointer;
}
.middle section{
    flex:3
}

.right-section {
    display:flex;
    flex-direction:row;
    flex:100px;
    background-color:white;
    align-items: center;
    justify-content: space-between;
}

.site-nav{
    font-family:"Poppins";
    background-color:white;
    color:rgb(42, 63, 88);
    font-weight: bold;
    margin-right:2px;
    height:22px;
    border:none;
    margin-right:6px;
    cursor: pointer;
}
.site-nav:hover{
    color:rgb(218, 171, 53);
}
